<form  method="POST" autocomplete="off"action="/admin">
<table>
    <thead>
        <tr>
            <th>
                <h3>Student Name</h3>

            </th>
            <th>
                <h3>Essay</h3>
            </th>
            <th>
                <h3>Grade</h3>
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr style="text-align: center; margin: auto;">
            <th>
                {{this.name}}
            </th>
            <th>
                <textarea name = "essay">
                    {{this.essay}}
                </textarea>

            </th>
            <th>
                <input type="number" name = "grade" value="{{this.grade}}" style='width:40px' />
            </th>
        </tr>

        {{/each}}
    </tbody>

</table>
<button type="submit" class="btn">Update</button>
</form>