<h3>{{viewTitle}}</h3>
<form action = "/upload" method = "POST" autocomplete= "off">
    <div class = "f-group">
        <label>Name</label>
        <input type = "text" class = "f-control" name="name" placeholder="Enter your name here">   
    </div>
    <br>
    <div class = "f-group">
        <label>Essay</label>
        <input type = "textarea" class = "f-control" name="essay" placeholder="Paste Essay Here">   
    </div>
    <br>
    <div class = "f-group">
        <button type = "submit" class = "btn">Submit</button> 
    </div>
</form>